.banner {
 background-color: rgb(255, 249, 241);
}

.nav-item .nav-link {
    font-size: 23px;
    font-weight: 500;
    color: white;
    transition: 0.5s;
}

.nav-item .nav-link:hover {
    color: goldenrod;
}

.item-1:hover {
    box-shadow: 8px 10px 0 black;
    transition: 0.5s;
    cursor: pointer;
}

.item-1 {
    box-shadow: 0 0 0 black;
    transition: 0.5s;
    cursor: pointer;
}

.btn {
    box-shadow: 0 0 0 black;
    transition: 0.5s;
    cursor: pointer;
}
.btn:hover {
    box-shadow: 8px 10px 0 black;
    transition: 0.5s;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

.banner-2 {
    background: rgb(255, 238, 172);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.blackidk {
    background: black;
    color: white;
    opacity: 100%;
    text-align: center;
    padding: 8px;
    margin-top: 50px;
   }

   .blackidk p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 50%;
   }

   .blackidk img {
    height: 35px;
    margin-right: 5px;
    margin-bottom: 3px;
    transform: translateY(15%);
    cursor: pointer;
}

.damn-btn {
    background: rgb(23, 11, 0);
    padding: 15px 35px;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s;
    transform-origin: left;
    border: rgb(23, 11, 0) 3px solid;
  }

  .damn-btn:hover {
    background: transparent;
    text-decoration: none;
    color: rgb(23, 11, 0);
  }